# Server settings
HOST=127.0.0.1
PORT=8000
DEBUG=True

# Clerk Authentication Settings
CLERK_SECRET_KEY=your_clerk_secret_key
CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key
CLERK_FRONTEND_API_URL=your_clear_frontend_api_url
